body {
  background-color: #000;
  color: #fff;
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.heading3 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.3;
}
.message {
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 1.3;
}
